*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background: linear-gradient(to left,#c41010 20%, #f56f6f);
}
.orange{
    color: rgba(255, 187, 0, 0.7);
}
.red{
    color: rgb(255, 0, 0);
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}