#page-place {
  display: flex;
  min-height: 100vh;
}

#page-place main {
  flex: 1;
}

.place-details {
  width: 700px;
  margin: 64px auto;

  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #030303;
  border-radius: 20px;

  overflow: hidden;
}

.place-details > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.place-details .images {
  display: grid;
  grid-template-columns: repeat(6 ,1fr);
  column-gap: 16px;

  margin: 16px 40px 0;
}
 
.place-details .images button {
  border: 0;
  height: 88px;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  
  opacity: 0.6;
}

.place-details .images button.active {
  opacity: 1;
}

.place-details .images button img {
  width: 100%;
  height: 88px;
  object-fit: cover;
  
}

.place-details .place-details-content {
  padding: 80px;
}

.place-details .place-details-content h1 {
  color: #000000;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 8px;
}

.place-details .place-details-content p {
  line-height: 28px;
  color: #000000;
  margin-top: 24px;
}

.place-details .place-details-content .map-container {
  margin-top: 64px;
  background: #fbe6e6;
  border: 1px solid #e2b3b3;
  border-radius: 20px;
}

.place-details .place-details-content .map-container footer {
  padding: 20px 0;
  text-align: center;
}

.place-details .place-details-content .map-container footer a {
  line-height: 24px;
  color: #a7413a;
  text-decoration: none;
}

.place-details .place-details-content .map-container .leaflet-container {
  border-bottom: 1px solid #DDE3F0;
  border-radius: 20px;
}

.place-details .place-details-content hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #000000;
  margin: 64px 0;
}

.place-details .place-details-content h2 {
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.place-details .place-details-content .open-details {
  margin-top: 24px;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;

}

.place-details .place-details-content .open-details div {
  padding: 15px 12px;
  border-radius: 20px;
  line-height: 28px;
  
 text-align: center;

  font-size: 25px;
}

.place-details .place-details-content .open-details div.open-on-weekends {
  background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
  border: 1px solid #A1E9C5;
  color: #37C77F;
}
.place-details .place-details-content .open-details div.open-on-weekends-dont {
  background: linear-gradient(154.16deg, #ffeded 7.85%, #FFFFFF 91.03%);
  border: 1px solid #e23011;
  color: #da442a;
}


.place-details .place-details-content a.contact-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.place-details .place-details-content a.contact-button svg {
  margin-right: 16px;
}

.place-details .place-details-content a.contact-button:hover {
  background: #36CF82;
}
