aside.app-sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background:#c41010 ;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
aside.app-sidebar img {
    width: 250px;
    
  }
  aside.app-sidebar .my_link{
    text-decoration: none;
    font-size: 25px;
  }
  
aside.app-sidebar footer a,
aside.app-sidebar footer button {
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background:  #0c0c0c;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
    background:  #000000;
  }